.Lorum Text,h1,h2,table {
    color: blue;}

.Lorum Text,li,a {
    color: cyan;}

.Lorum Text,p,h3 {
    color: blue;}   
    
 h1,h2,table,li,a,h3 {
    text-shadow: 2px 2px black;
  }


  #Hack {background-color: rgba(26, 24, 24, 0.8);}


body {
    background-image: url(Hades_besser.jpg);
    background-attachment:fixed;
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

ul li {
    margin-top: 20px;
    margin-bottom: 20px;
  }

footer {
font-size: 20px ;
background-color: lightgray;
width: 100%;
position: fixed;
left: 0;bottom: 0;
text-align: center;
}

footer p{color: magenta};